synapsepoc/pipeline/Excel from Sharepoint.json
{
	"name": "Excel from Sharepoint",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/a1677f4d-5acf-44d4-a9e9-fe9069bbb089/tokens/OAuth/2",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=b662fe86-3a69-4bb6-973b-0286013771ce@a1677f4d-5acf-44d4-a9e9-fe9069bbb089&client_secret=BW-7Q~VOgG5zAiYqsMJOXLNdQTL2RF2jaoNZk&resource=00000003-0000-0ff1-ce00-000000000000/ethosenergygroup.sharepoint.com@a1677f4d-5acf-44d4-a9e9-fe9069bbb089"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('Web1').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Binary2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Binary1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}