synapsepoc/pipeline/sftp test.json
{
	"name": "sftp test",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetNowUTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@variables('WaterMarkUTC')",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('sftpUTCNow')",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "sftpr3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNowUTC",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Dummy WaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sftpUTCNow",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Dummy WaterMark",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "WaterMarkUTC",
					"value": {
						"value": "@adddays(utcnow(),-3)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"sftpUTCNow": {
				"type": "String"
			},
			"WaterMarkUTC": {
				"type": "String"
			}
		},
		"annotations": []
	}
}